{
    "allowed_users": "*ALLOWED_USERS*",
    "max_history": "*",
    "default_max_history": *MAX_HISTORY*,
    "role": "assistant",
    "token": "*OPENAI_TOKEN*",
    "model": "gpt-3.5-turbo",
    "database": {
        "settings": "chatgpt_settings",
        "messages": "chatgpt_messages"
    },
    "init": "true",
    "exclude": ["database"]
}